.project-management-container {
  height: 100%;
  display: flex;
}

.project-management-sidebar {
  width: 250px;
  flex-shrink: 0;
  border-right: 1px solid #f0f0f0;
}

.project-management-content {
  flex: 1;
  overflow: auto;
}
